
    

<footer>
    <div class="container2">
    <h2>follow me on</h2>
    <div class="f-1">
    <i class="fa-brands fa-youtube"></i>
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-instagram"></i>
</div>
<div class="f-2"><p>Developed by Owais</p></div>
</div>
</footer>
<script>
    const StartDate = '<%=startDate %>';
    const EndDate = '<%=endDate %>';
    const ID="<%=Id%>"
</script>
<script  src="./js/pie.js" >  </script>
<script src="./js/checkbox.js"></script>
<script src="./js/export.js" ></script>
<script>
    function setFilterType(type) {
        document.getElementById('filterType').value = type;
    }
</script>


</body>
</html>