<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    
    <title>Finance</title>
</head>
<body>
    <header>
        <div class="container">
        <div class="icon">
            <h1><span class="head">Fin</span>Flow</h1>
        </div>
        <nav> 
            <ul>
                <li><a href="/sign_up">Sign In</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="">Help</a></li>
            </ul>
        </nav>
        </div>
    </header>

    <section class="hero">
        <div class="width">
        <img src="./assets/pexels-goumbik-669610.jpg">
        <h1 class="hero-title">Track. Save. Prosper. Your Financial Journey Starts Here.</h1>
    </div>
    </section>

    <footer>
        <div class="container2">
        <h2>follow us on</h2>
        <div class="f-1">
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-instagram"></i>
    </div>
    <div class="f-2">
        <p> Developed by Owais</p>
        
    </div>
    </div>
    </footer>
</body>
</html>
